@model Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h4 class="text-center text-primary">Add A New Book</h4>
<form asp-action="Add" method="post">
<div class="mb-3">
    <label asp-for="Title" class="form-label">Book Title</label>
    <input type="text" asp-for="Title" class="form-control" id="formGroupExampleInput" >
</div>
<div class="mb-3">
    <label asp-for="Author" class="form-label">Author</label>
    <input type="text" asp-for="Author" class="form-control" id="formGroupExampleInput2" >
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" asp-for="NumberOfCopies" class="form-label">Number of Copies</label>
    <input type="number" asp-for="NumberOfCopies" class="form-control" id="formGroupExampleInput2" >
</div>
<div>
    <button class="btn btn-primary">Submit</button>
</div>

</form>